<!DOCTYPE html>
<html>
  <head>
    <title>RecipeHunter</title>
    <%= render 'layouts/rails_default' %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>
  <body>
    <div class="container">
      <%= render 'layouts/header' %>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>